<style type="text/css">
    .myDiv {
   border: dashed beige;
   background-color: khaki;    
   text-align: center;
   }
   input[type=text], select {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
 }
 
 input[type=submit] {
   width: 100%;
   background-color: #4CAF50;
   color:powderblue;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 input[type=submit]:hover {
   background-color: #45a049;
 }
 .myDiv2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
 div {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }
       h1{text-decoration: underline;}
       p{font-size: 1.2em;}
       #Self-Time{color:blueviolet;}
       .favlist{
          color :blueviolet
       }
       .myDiv3 {
          border: dashed;
          background-color:peachpuff;
       }
       ul{font-style: italic;}
       body{background-color: coral;}
       a{ color: A020F0;}
       .myDiv1 {
        border: dashed greenyellow;
        background-color: rgb(45, 202, 116);    
        text-align: center;
        }
        .myDiv2 {
        border: dashed greenyellow;
        background-color: rgb(74, 45, 202);    
        text-align: center;
        }
            h1{color:rgb(226, 143, 17)}
            p{font-size: 1.2em;}
            ul{font-style: italic;}
            body{background-color: powderblue;}
            a{ color: A020F0;}
    </style>